{% extends 'base.html.twig' %}

{% block title %}ProStages : Formations{% endblock %}

{% block contenu %}
  
<div class="px-5">
    <div class="card ">
        <h5 class="card-header"> Formations </h5>
        <div class="card-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">  
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>NomCourt</th>
                                        <th>NomLong</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for formation in formations %}
                                    <tr>
                                        <td>{{ formation.id }}</td>
                                        <td>{{ formation.nomCourt }}</td>
                                        <td>{{ formation.nomLong }}</td>
                                        <td>
                                            <a href="{{ path('formation_show', {'id': formation.id}) }}">show</a>
                                            <a href="#">|</a>
                                            <a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="4">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                            <a href="{{ path('formation_new') }}"  class="btn btn-primary">Ajouter une formation</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br> 

{% endblock %}


