{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block contenu %}

<div class="px-5">
    <div class="card ">
        <h5 class="card-header"> {{stage.titre}}</h5>
        <div class="card-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                       
                        ⚫️<strong>Source de l'offre : </strong> {{stage.entreprise.nom}}<br><br>
                        ⚫️<strong>Domaine : </strong> {{stage.domaine}}<br><br>
                        ⚫️<strong>Description du stage : </strong> {{stage.description}}<br><br>
                        ⚫️<strong>E-mail de contact : </strong> {{stage.email}}<br><br>
                        ⚫️<strong>Formations : </strong>
                        {% for formationCourante in stage.formations %}
                            {% if loop.last %}
                                {{ formationCourante.nomCourt }}.
                            {% else %}
                                {{ formationCourante.nomCourt }}, 
                            {% endif %}
                        {% endfor %}


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br> 
{% endblock %}