{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block contenu %}

<div class="px-5">
    <div class="card ">
        <h5 class="card-header"> {{stage.titre}}</h5>
        <div class="card-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                      <div>
                        <div> <strong>- Entreprise :</strong> {{stage.entreprise.nom}}<br>  </div><br>
                        <div> ️<strong>- Domaine :</strong> {{stage.domaine}}<br>  </div><br>
                        <div> <strong>- Description du stage :</strong> {{stage.description}}<br>  </div><br>
                        <div> <strong>- Adresse e-mail :</strong> {{stage.email}}    </div>
                    
                       
                         
                        </div>



                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
<br>
<br>
<br>
<br>
<br> 
{% endblock %}